* 
body {
  background: #b7b3e8;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  margin: 0;
  margin-top: 0%
}

.title h2 {
  text-align: center;
  background-color: #671b86;
  color:whitesmoke;
  padding: 2.5rem;
  margin-top: 0%;
}

.header {
  text-align: center;
  color: #671b86;
  margin: 0;
  margin-top: 1rem;
}

.paragraph {
  text-align: center;
  color: #671b86;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.break {
  border-style: solid double;
  border-bottom: thick double #000;
  margin: 35px 20px 35px 20px;
}

form {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

legend {
  color:#671b86;
  font-size: 1.20rem;
  font-family: "Merriweather", serif;
  font-weight: 800;
  font-style: italic;
}

.contact {
  margin-top: 1rem;
  font-size: 1rem;
  color:#671b86;
  display: flex;
  flex-direction: column;
}

#name, #email, #phone,
#address, #city, #state, #zip {
height: 2rem;
}

input:focus {
  padding: .30rem;
  border-radius: .15rem;
  text-align: left;
  }

select:focus {
  padding: .45rem;
  text-align: left;
}

div.zip {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 55%;
  color:#671b86;
}

.break_2 {
  border-style: solid;
  margin: 35px 0px 30px 0px;
 }
.newsletters {
  color:#671b86;
  font-size: .85rem;
}

div.newsletter {
 padding-top: 1.5rem;
  font-size: 1rem;
  color:#671b86;
  display: flex;
}

div.news_format {
padding-top: 1rem;
color:#671b86;
}

p.news {
margin-top: 2rem;
color:#671b86;
}

textarea:focus {
  height: 80px;
  width: 100%;
}

#plain_format {
margin-bottom: 1.5rem;
}

textarea, #textfield,#topics{
  font-size: .85rem;
  height: 5rem;
  width:100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; 
  color:#671b86;
}

button {
  width: 100%;
  padding: 1rem;
  font-size: 22px;
  border-radius: 8px;
  margin: 1.5rem auto 1.5rem;
  cursor: pointer;
  color: white;
  background-color: #671b86;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.copyright {
  text-align: center;
  font-weight: 400;
  color:#671b86;
}

@media (min-width: 768px) {
 
.contact {
  flex-direction: row;
  align-items: center;
}
  
label {
  width: 25%;
}

#name, #email, #phone, 
#address, #city, #state{
  width: 100%;
}

#zip {
  width: 25%;
  margin-left: 4.10rem;
}

::placeholder {
  text-align: right;
}

.news_selections {
  display: block;
}

textarea {
  width:100%;
}

}