* 
body {
  background: #b7b3e8;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  margin:0;
}

.title h2 {
  text-align: center;
  background-color: #671b86;
  color:whitesmoke;
  padding: 2rem;
  margin: auto; 
}

.header {
  text-align: center;
  color: #671b86;
  margin: 0;
  margin-top: 1rem;
}

.paragraph {
  text-align: center;
  color: #671b86;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.break {
  border-style: solid double;
  border-bottom: thick double #000;
  margin: 35px 20px 35px 20px;
}

form {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

legend {
  color:#671b86;
  font-size: 1.20rem;
  font-family: "Merriweather", serif;
  font-weight: 800;
  font-style: italic;
}

.contact {
  margin-top: 1rem;
  font-size: 1rem;
  color:#671b86;
  display: flex;
  flex-direction: column;
}

input:focus {
  padding: .50rem;
  border-radius: .20rem;
  text-align: left;
  }

select:focus {
  padding: .60rem;
  text-align: left;
}

#zip {
  margin-bottom: 1rem;
  width: 55%;
}

.break_2 {
  border-style: solid;
  margin: 35px 0px 30px 0px;
 }

.news_selections {
  padding: .15rem;
  font-size: 1rem;
  color:#511768;
}

.newsletter {
  margin-top: 2rem;
  font-size: 1rem;
  color:#671b86;
  display: flex;
}

#javascript {
  margin-bottom: 1.5rem;
}

#plain {
  margin-bottom: .50rem;
}

textarea:focus {
  height: 80px;
  width: 100%;
}

.news_format {
  margin-top: 1rem;
}

.copyright {
  text-align: center;
  font-weight: 400;
}

button {
  width: 100%;
  padding: 1rem;
  font-size: 22px;
  border-radius: 8px;
  margin: 1.5rem auto 1.5rem;
  cursor: pointer;
  color: white;
  background-color: #671b86;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}


@media (min-width: 768px) {
 
.contact {
  flex-direction: row;
  align-items: center;
}
  
label {
  width: 25%;
}

#name, #email, #phone, 
#address, #city, #zip {
   width: 100%;
}

#state {
  width: 100%;
}

#zip {
  width: 50%;
  margin-right: 40%;
}

::placeholder {
    text-align: right;
}

.news_selections {
  display: block;
}

textarea {
  width:100%;
}

}