* 
body {
  background: #f9f4f0;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  margin: 0%
}


.title h2 {
  text-align: center;
  background-color: #074d5d;
  color: white;
  padding: 2rem;
  margin: 0% 0%;
}

.header {
  text-align: center;
  color: #074d5d;
}

.paragraph {
  text-align: center;
  color: #074d5d;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 2rem;
}

.break {
 border-style: solid double;
 border-bottom: thick double #000;
}

.form {
  padding: 1rem;
}

legend {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.contact {
  margin-top: 1rem;
  font-size: 1rem;
  color:#074d5d;
  
}

#zip {
width: 50%;
}

button {
  width: 100%;
  max-width: 430px;
  padding: 10px 0;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  margin: 1.5rem auto 1.5rem;
  cursor: pointer;
  color: white;
  background-color: #074d5d;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.break-2 {
  border-style: solid;
 }

 .newsletter {
  font-size: 1rem;
  color:#074d5d;
}
 
 textarea {
  height: 80px;
  margin-top: 1rem;
  width:98%;
}


@media (min-width: 768px) {
   
  nav {
    display:flex;
  }

  h1 {
    text-align:left;
    text-wrap: nowrap;
  }

  
  .top-nav {
    text-align: end;
  }
 
  .profile-bio {
    display: flex;
    flex-direction: row-reverse;
    width: 140%;
    gap: 10rem;
  }

  .portfolio {
    margin-bottom: 3rem;
  }

  .card {
    flex-basis: calc(33.333% - 20px);
   }

  .my info {
    margin-top: 2.0%;
    text-align: center;
  }

  .contact {
    width: 100%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    text-align: center;
    color: #074d5d
  }

  footer {
    gap: 35rem;
  }

  .full {
    display: none;
  }
}   
